<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div>Add songs:</div>
		<div class="box">
		<form action="/songs/new" method="POST">
		<input type="text" name="song">
		<input type="text" name="artist">
		<input type="submit" name="add">
		</form>
		</div>
	</body>
</html>