<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div>Create a valid username and password</div>
		<div class="box">
		<form action="/checkpass" method="POST">
		<input type="text" name="email">
		<input type="text" name="pass">
		<input type="submit" name="signup">
		</form>
		<p><%= @output %></p>
		</div>
	</body>
</html>