<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="box">
		<form action="/search" method="POST">
		<input type="text" name="input">
		</form>
		</div>
	</body>
</html>